# Auto detect text files and perform LF normalization
* text=auto

# Force LF for these files
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.njk text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary

# Exclude files from Git archive
.github/ export-ignore
.vscode/ export-ignore
tmp/ export-ignore
test-env/ export-ignore
debug-env/ export-ignore
build-logs/ export-ignore
.pytest_cache/ export-ignore